*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500;600&display=swap');

}

.header{
    color: white;
    background-color: #9cc1f8;
    height: 10vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.header .container{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1:hover{
   
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header a:hover{
    color: #0D47A1;
}

main{

}

article{
    width: 90%;
    margin: auto;
    text-align: center;
}

article .textos{
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    padding: 1rem;

}

article ul li{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border: 2px solid black;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

article img{
    width: 12rem;
    margin-right: 1rem;
}

article .text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section{
}

section .container{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section .post{
    height: 100vh;
    flex-basis: 400px;
    box-shadow: 0px 2px 8px 0px gray;
    margin-bottom: 2rem;
    border-radius: 1rem;
    cursor: pointer;

}

.post .fundo{
    height: 50%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.post img{
   max-width: 100%;
   width: 100%;
}

#genero{
font-weight: bold;
color: #9cc1f8;
}

#data{
    font-weight: bold;
}

#titulo{
    font-size: 2rem;
}

#subtitulo{
    font-size: 1.3rem;
}

.imagem{
    width: 100%;
}

.imagem img{
    max-width: 66%;
    width: 100%;
}



