*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500;600&display=swap');

}

body{
    background-color: #0D47A1;
}

.header{
  color: white;
  background-color: #9cc1f8;
  height: 10vh;
  width: 100%;
  font-family: Helvetica, sans-serif;
}

.header .container{
  width: 90%;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1:hover{
 
}

.header ul{
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  list-style: none;
  font-weight: bold;
}

.header a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header a:hover{
  color: #0D47A1;
}

.wallpaper{
    background-color: #0D47A1;
    background-image: url('../img/fundo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130vh;
    overflow: hidden;
}

.cadastro {
    width: 10rem;
    padding: 8% 0 0;
    margin: auto;
    font-family: Helvetica, sans-serif;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
  }
  
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
  }
  
  .form input:focus {
    background: #dbdbdb;
  }
  
  .form button {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4b6cb7;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  .form button:active {
    background: #395591;
  }
  
  .form span {
    font-size: 3rem;
    color: #4b6cb7;
  }

.cadastro{
    width: 29vw;
    /* margin: auto; */
    height: 54vh;
    left: 34.69%;
    top: 25.69%;
    background-color: white;
    position: absolute;
}

.cadastro .container{
    padding: 4rem;
    height: 71%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.cadastro form{
    display: flex;
    flex-direction: column;
}

.one, .two, .three{
flex-basis: 33%;
}