*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500;600&display=swap');

}

.header{
    color: white;
    background-color: #9cc1f8;
    height: 10vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.header .container{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1:hover{
   
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header a:hover{
    color: #0D47A1;
}

.wallpaper{
    width: 98.5vw;
    max-width: 98.5vw;
    height: 75vh;
    background-image: url(../img/background_1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
}




.articles{
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #9cc1f8;
    font-family: Helvetica, sans-serif;
}

.articles .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 width: 90%;
 height: inherit;
 margin: auto;
}

.articles .row_posts{
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
}

.post:hover{
    border: 4px solid #91A10D;
}

.articles .post{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    background-color: #0D91A1;
    text-align: center;
    flex-basis: 40%;
    flex-grow: 0;
}

.one{
    background-image: url('../img/posts/Fisico/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.one h1{
    text-shadow: black;
}

.two{
    background-image: url('../img/posts/Intelectual/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.two h1{
    text-shadow: 5px 2px 1px black;
}




.three{
    background-image: url('../img/posts/Mental/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.three h1{
    text-shadow: 5px 2px 1px black;
}

.four{
    background-image: url('../img/posts/Espiritual/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.four h1{
    text-shadow: 5px 2px 1px black;
}


.footer{  
    height: 15vh;
    background-color: #232C38;
    color: white;
    font-family: Helvetica, sans-serif;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: inherit;
    margin: auto;   
}

.footer .rights{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}