*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500;600&display=swap');

}

.header{
    color: white;
    background-color: #9cc1f8;
    height: 10vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.header .container{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1:hover{
    border-bottom: 2px solid #0D47A1;
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header a:hover{
    border-bottom: 2px solid #0D47A1;
}

.wallpaper{
    width: 100%;
}

.wallpaper img{
    width: 100%;

}

.articles{
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #82C1E0;
    font-family: 'Poppins', sans-serif;
}

.articles .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 width: 90%;
 height: inherit;
 margin: auto;
}

.articles .row_posts{
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
}

.post:hover{
    border: 4px solid #91A10D;
}

.articles .post{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    background-color: #0D91A1;
    text-align: center;
    flex-basis: 40%;
    flex-grow: 0;
}

.one{
    background-image: url('../img/wallpaper_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.two{
    background-image: url('../img/wallpaper_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.three{
    background-image: url('../img/wallpaper_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.four{
    background-image: url('../img/wallpaper_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.footer{  
    height: 35vh;
    
    background-color: #828FE0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: inherit;
    margin: auto;   
}

.footer .cards{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem;
    
}

.footer .card{
    flex-basis: 25%;
    border-radius: 20%;
    background-color: #8511D0;
    text-align: center;
    background-color: #041370;
}

.card ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    justify-content: space-evenly;
}

.footer .rights{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}