*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500;600&display=swap');

}

.header{
    color: white;
    background-color: #9cc1f8;
    height: 10vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.header .container{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1:hover{
   
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style: none;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header a:hover{
    color: #0D47A1;
}

.conteudo{
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.conteudo .container{
    width: 60%;
    margin-left: 7rem;
    margin-top: 3rem;
    border: 1px solid gray;
    color: gray;
}

.conteudo .img{
    background-image: url('../img/posts/Fisico/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
    max-width: 100%;
    width: 100%;
}

.conteudo .img img{
    max-width: 100%;
}


.titulo{
    color: black;
    font-weight: bolder;
    font-size: 2rem;
}

.paragrafo{
    font-size: 1.2rem;
}

.conteudo section{
    padding: 3rem;
}

section img{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

section ul{
    padding: 1rem;
}

.conteudo .comentarios{
    padding: 2rem;
    border: 1px solid gray;

}

.conteudo .comentarios p{
    margin-bottom: 2rem;
    width: 100%;
    font-size: 1.5rem;
}

.conteudo .comentarios p{
    text-align: center;
    margin-bottom: 1rem;
}

#usuario{
    font-weight: bold;
}

.conteudo .comentar{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    
}

.comentar textarea{
    resize: none;
}

.comentar button{
    font-size: 1.5rem;
    width: 16%;
    height: 5rem;
    margin: auto;
}

.sobre{
    display: flex;
    justify-content: center;
}

.autor{
    display: flex;
}

.autor img{
    width: 8rem;
}

.text{
    display: block;
}

.footer{  
    height: 15vh;
    background-color: #232C38;
    color: white;
    font-family: Helvetica, sans-serif;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: inherit;
    margin: auto;   
}

.footer .rights{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}