*{
    margin: 0;

    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    font-family: 'Montserrat', sans-serif;
}

body{

}

.header{
    color: white;
    background-color: #0D0159;
    height: 10vh;
    width: 100%;
}

.header .container{
    width: 90%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1:hover{
    border-bottom: 2px solid #0D47A1;
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: inherit;
}

.header a:hover{
    border-bottom: 2px solid #0D47A1;
}

.wallpaper{
    background-image: url('../img/wallpaper_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes meio{
    to{top: 30%;}
    from{top: 0;}
}

/* The animation code */
@keyframes example {
   to{left: 55%; color: white; text-shadow: -17px 9px 0px #2002DA;}
   from{left:-50%;} 
  }
  
  /* The element to apply the animation to */
  .text{
      position: relative;
      top: 30%;
    animation-name: example;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

.text h1{
    font-size: 13rem;
}

.text h3{
    letter-spacing: 3px;
    font-size: 3rem;
    position: relative;
    right: 4rem;
    bottom: 1rem;
}





.sig{
    background-color: #1802A6;
    color: white;
}

.sig .container{
    width: 90%;
    margin: auto;
}

.sig section{
    padding: 2rem;
    font-size: 2rem;
}

.articles{
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #5A45DF;
}

.articles .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 width: 90%;
 height: inherit;
 margin: auto;
}

.articles .row_posts{
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
}

.post:hover{
    border: 4px solid #91A10D;
}

.articles .post{
    background-color: #0D91A1;
    text-align: center;
    flex-basis: 40%;
    flex-grow: 0;
}

.one{
    background-image: url('../img/wallpaper_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.two{
    background-image: url('../img/wallpaper_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.three{
    background-image: url('../img/wallpaper_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.four{
    background-image: url('../img/wallpaper_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.footer{  
    height: 70vh;
    background-color: #0D0159;
    color: white;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: inherit;
    margin: auto;   
}

.footer .cards{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem;
    
}

.footer .card{
    flex-basis: 25%;
    border-radius: 20%;
    background-color: #8511D0;
    text-align: center;
    background-color: #041370;
}

.card ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    justify-content: space-evenly;
}

.footer .rights{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}